.ns-nomination-submission-container {
  flex: 0.75;
  background: linear-gradient(to bottom, #ffffff, #a5a9f3);
  box-shadow: 0 0 20px white, 0 0 20px white;
  color: #1d1d1d;
  padding: 2rem;
  border-radius: 20px;
  height: 90%;
  overflow-y: auto;
  font-family: "Inter", sans-serif;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer */
}

.ns-nomination-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #1d1d1d;
}

.ns-positions-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Ensure equal width */
  gap: 1.5rem;
  justify-items: center;
}

.ns-position-button {
  width: 90%; /* Fixed width for all buttons */
  background-color: #353673;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
}

.ns-position-button:hover {
  background: linear-gradient(135deg, #ffffff, #c9c8ee);
  transform: scale(1.05);
  color: #1d1d1d;
}

.ns-position-button:active {
  transform: scale(0.95);
}
