.fp-voting-portal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #c9c8ee, #3a3a71);
  color: #ffffff;
  height: 100vh;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

.fp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1d1d;
  height: 60%;
  width: 80%;
  padding: 2rem;
  color: #ffffff;
  border-radius: 0px 0px 20px 20px;
  font-family: "Inter", sans-serif;
}

.fp-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #e0e7ff, #a1b2d8);
  padding: 2rem;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 20px white, 0 0 20px white;
  height: 80%;
  width: 28%;
}

.fp-content h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
  font-family: "Inter", sans-serif;
}

.fp-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem; /* Increased gap for more spacing */
  margin: 1rem 0;
}

.fp-content p {
  margin-bottom: 3.5rem; /* Adds additional spacing below the p text */
  font-size: 0.9rem;
  color: #1c1d23;
  font-family: "Inter", sans-serif;
  font-weight: 1000;
  letter-spacing: 0.3rem;
}

.fp-form input::placeholder {
  color: white;
  letter-spacing: 0.3rem;
  font-size: 90%;
  font-family: "Inter", sans-serif;
}

.fp-input {
  padding: 0.7rem;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  background-color: #1c1d23;
  width: 90%;
  color: white;
}

.fp-submit {
  background: #1c1d23;
  color: #fff;
  padding: 0.8rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  width: 50%;
  letter-spacing: 0.2rem;
  font-family: "Inter", sans-serif;
}

.fp-submit:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.7); /* Darker and black */
}
