.election-info-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #c9c8ee, #3a3a71);
  color: #ffffff;
  height: 100vh;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

.sgc-container {
  display: flex;
  justify-content: space-between; /* Ensure space distribution */
  align-items: center; /* Align items at the top */
  background-color: #1d1d1d;
  height: 60%;
  width: 80%;
  padding: 2rem;
  color: #ffffff;
  border-radius: 0px 0px 20px 20px;
  font-family: "Inter", sans-serif;
  overflow: hidden; /* Prevent content from spilling */
  gap: 2rem;
}

.election-sidebar {
  flex: 0.3;
  background: linear-gradient(135deg, #e0e7ff, #a1b2d8);
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: 0 0 20px white, 0 0 20px white;
}

.election-sidebar ul {
  list-style: none;
  padding: 0;
}

.election-sidebar li {
  font-family: "Inter", sans-serif;
  padding: 0.8rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #3a3a71;
  color: #ffffff;
  margin-bottom: 1rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.election-sidebar .active {
  background: linear-gradient(135deg, #ffffff, #c9c8ee);
  color: #1d1d1d;
  font-weight: bold;
}